body{
    margin: 15px;
    background-color: #181818;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
html, body {
    overflow-x:hidden 
  } 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    background: #181818;
    box-shadow: 0px 0px 20px rgba(21, 26, 53, 0.1);
    border-radius: 0px 0px 10px 10px;
}
header .input-wrap{
    position: relative;
    background: #2C2C2C;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #2C2C2C;
}
.input-wrap .icon-back{
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.input-wrap input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 75%;
    background: #2C2C2C;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.input-wrap .icon-cancel{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 10px;
}

a{
    color: #757678;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
a:hover{
    text-decoration: none;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 12px;
    color: #FFFFFF;
}
.tab{
    margin-top: 20px;
}
.tab a.active{
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 12px;
    color: #FFFFFF;
}
.streamer{
    padding: 32px 0 18px 0;
    border-bottom: 1px solid #313131;;
}
h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.streamer-list{
    margin-top: 10px;
}

.streamer-item{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: start;
}
.streamer-list .avatar{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.streamer-list .streamer-name{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding-right: 10px;
}
.popular{
    margin-left: 8px;
}
.streamer-list .badge{
    padding: 0;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.streamer-list .badge .follow{
    margin-left: 6px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: #757678;
    vertical-align: text-top;
}
.streamer-list .badge .follow:before{
    content: ". ";
    position: absolute;
    left: -6px;
    top: -5px;
    font-size: large;
}
.lv::before{
    content: "Lv.";
}

.lv{
    padding: 3px 10px;
    font-size: 8px;
    line-height: 10px;
    background: #2C2C2C;
    border-radius: 15px;
    text-align: center;
}
.streamer-list li{
    margin-top: 10px;
}
.streamer-list .stream-top{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: start;
}

.streamer-list .avatar-top{
    position: relative;
    width: 50px;
    height: 50px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.streamer-list .stream-top .crown{
    position: absolute;
    background-image: url('./imgs/crown.png');
    width: 30px;
    height: 30px;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.streamer-list .stream-top .avatar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.streamer-list .stream-top .brand-center-1{
    background-image: url('./imgs/band-center-1.png');
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 14px;
    z-index: 3;
}
.streamer-list .stream-top .brand-left-1{
    background-image: url('./imgs/band-left-1.png');
    position: absolute;
    top: 87%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 11px;
    z-index: 1;
}
.streamer-list .stream-top .brand-right-1{
    background-image: url('./imgs/band-left-1.png');
    position: absolute;
    top: 78%;
    left: 87%;
    transform: rotate(135deg);
    width: 13px;
    height: 11px;
    z-index: 1;
}

.game{
    padding: 18px 0;
    border-bottom: 1px solid #313131;
}
.game h3{
    margin-bottom: 14px;
}
.game h6{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}
.game td{
    padding-right: 15px;
}
.game td:last-child{
    padding-right: 0;
}
.game .like{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #757678;
    margin-top: 4px;
}

.video{
    padding-top: 18px;
}
.video-item{
    display: grid;
    grid-template-columns: minmax(50%, 0) 50%;
    margin-top: 10px;
    align-items: start;
    justify-items: start;
}
.video-item:first-child{
    margin-top:0;
}
.video-item-left{
    position: relative;
}
.video-item-left img{
    max-width: 100%;
}

.video-item-left .game-name{
    position: absolute;
    background: #FF7F00;
    border-radius: 9px;
    left: 10px;
    top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    font-family: SF UI Text;
    font-style: normal;
    padding: 3px 5px;
}
.video-item-left .amount-live{
    position: absolute;
    left:10px;
    bottom: 10px;
    padding: 3px 5px;
    background: #1B223E;
    border-radius: 9px;
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.video-item-left .amount-live::before{
    content: "";
    padding: 0px 4px;
    border-radius: 50%;
    background: red;
    font-size: 7px;
}
.video-item-right h6{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.video-item-right h6.channel{
    line-height: 14px;
    color: #757678;
}
/* Hide scrollbar for Chrome, Safari and Opera */
/* .game > div::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE and Edge */
/* .game > div {
    -ms-overflow-style: none;
} */


